.home {
  position: relative;
  display: flex;
  padding-top: 80px;
  height: calc(100vh);
  overflow: hidden;
  background-color: whitesmoke;
}
#create-post-inputfield {
  border: 2px solid rgba(0, 0, 0, 0.426);
  padding: 8px 10px;
  background-color: beige;
  border-radius: 20px;
}
.home-right-bar {
  height: calc(100vh - 100px);
  overflow-y: auto;
}
.home-right-bar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
#post-wrapper {
  height: calc(100vh - 100px);
  overflow-y: auto;
}
#post-wrapper::-webkit-scrollbar {
  display: none;
}
